// Farshid (11, July 2018)

.cell-button { padding: 30px 0px; }

.cell-logo {
	margin: 30px 0px;
    background: transparent url(../img/0030-teachnsw-hashtag-xxsml.png) no-repeat 0 0;
    background-size: 150px auto;
}

.menu-icon { width: 35px; }

.menu-icon::after {
	height: 4px;
	background: #222;
	box-shadow: 0 9px 0 #222, 0 18px 0 #222;
}