// off-canvas

.position-right.is-transition-push {
	box-shadow: inset 13px 0 3px -13px rgba(10, 10, 10, 0.25);
}

#app-dashboard-sidebar {
	background: #222;
	color: #fff;
	a, a:focus {
		color: #fff;
	}
	a:hover {
		color: $primary-color;
	}
}

.app-dashboard-open-sidebar a {
	color: #fff;
}

.side-menu a {
	color: #fff;
	border-bottom: 1px solid $light-gray;
}

.app-dashboard-sidebar {
	.app-dashboard-open-sidebar {
		padding: 2rem 1rem .3em 1em;
	}
	.app-dashboard-close-sidebar {
		padding: 2rem 1rem .3em 1em;
	}
}