<script type="text/javascript">
var mapOptions = {
   minZoom: 5, 
   maxZoom: 21,
   zoom: 5,
     center: {lat: -31.8759835, lng: 147.2869493},
   disableDefaultUI: true,
   styles: [
        {
               "featureType": "administrative",
               "elementType": "labels.text.fill",
               "stylers": [
                   {
                       "color": "#444444"
                   }
               ]
           },
           {
               "featureType": "administrative.country",
               "elementType": "all",
               "stylers": [
                   {
                       "visibility": "on"
                   },
                   {
                       "saturation": "93"
                   }
               ]
           },
           {
               "featureType": "administrative.country",
               "elementType": "geometry",
               "stylers": [
                   {
                       "visibility": "on"
                   }
               ]
           },
           {
               "featureType": "administrative.country",
               "elementType": "geometry.stroke",
               "stylers": [
                   {
                       "visibility": "on"
                   }
               ]
           },
           {
               "featureType": "administrative.country",
               "elementType": "labels.icon",
               "stylers": [
                   {
                       "visibility": "on"
                   }
               ]
           },
           {
               "featureType": "landscape",
               "elementType": "all",
               "stylers": [
                   {
                       "color": "#f2f2f2"
                   }
               ]
           },
           {
               "featureType": "poi",
               "elementType": "all",
               "stylers": [
                   {
                       "visibility": "off"
                   }
               ]
           },
           {
               "featureType": "road",
               "elementType": "all",
               "stylers": [
                   {
                       "saturation": -100
                   },
                   {
                       "lightness": 45
                   }
               ]
           },
           {
               "featureType": "road.highway",
               "elementType": "all",
               "stylers": [
                   {
                       "visibility": "simplified"
                   },
                   {
                       "color": "#428f9c"
                   },
                   {
                       "saturation": "-17"
                   },
                   {
                       "lightness": "-3"
                   },
                   {
                       "gamma": "1.19"
                   }
               ]
           },
           {
               "featureType": "road.highway",
               "elementType": "labels.text.stroke",
               "stylers": [
                   {
                       "visibility": "off"
                   }
               ]
           },
           {
               "featureType": "road.highway",
               "elementType": "labels.icon",
               "stylers": [
                   {
                       "weight": "0.74"
                   },
                   {
                       "visibility": "off"
                   },
                   {
                       "color": "#f4ebeb"
                   },
                   {
                       "saturation": "-54"
                   }
               ]
           },
           {
               "featureType": "road.arterial",
               "elementType": "labels.icon",
               "stylers": [
                   {
                       "visibility": "off"
                   }
               ]
           },
           {
               "featureType": "transit",
               "elementType": "all",
               "stylers": [
                   {
                       "visibility": "on"
                   }
               ]
           },
           {
               "featureType": "transit",
               "elementType": "labels.text",
               "stylers": [
                   {
                       "visibility": "on"
                   },
                   {
                       "color": "#ac1717"
                   }
               ]
           },
           {
               "featureType": "transit",
               "elementType": "labels.text.fill",
               "stylers": [
                   {
                       "visibility": "on"
                   },
                   {
                       "color": "#bf5555"
                   }
               ]
           },
           {
               "featureType": "transit",
               "elementType": "labels.icon",
               "stylers": [
                   {
                       "visibility": "off"
                   }
               ]
           },
           {
               "featureType": "water",
               "elementType": "all",
               "stylers": [
                   {
                       "color": "#78d0f2"
                   },
                   {
                       "visibility": "on"
                   },
                   {
                       "saturation": "-27"
                   }
               ]
           }
        ]
  };
function ZoomControl(controlDiv, map) {
            
  // Creating divs & styles for custom zoom control
  controlDiv.style.padding = '5px';

  // Set CSS for the control wrapper
  var controlWrapper = document.createElement('div');
  controlWrapper.style.backgroundColor = '#FFF';
  controlWrapper.style.borderStyle = 'solid';
  controlWrapper.style.borderColor = 'gray';
  controlWrapper.style.borderWidth = '1px';
  controlWrapper.style.cursor = 'pointer';
  controlWrapper.style.textAlign = 'center';
  controlWrapper.style.width = '40px'; 
  controlWrapper.style.height = '80px';
  controlWrapper.style.margin = '3px';
  controlDiv.appendChild(controlWrapper);

  // Set CSS for the zoomIn
  var zoomInButton = document.createElement('div');

  zoomInButton.style.borderStyle = 'solid';
  zoomInButton.style.borderColor = 'gray';
  zoomInButton.style.borderWidth = '1px';


  var zoomInIcon  = document.createElement('i');
  zoomInIcon.classList.add("fas");
  zoomInIcon.classList.add("fa-plus");

  zoomInButton.style.width = '40px';
  zoomInButton.style.height = '40px';
  zoomInButton.style.paddingTop = '7px';
  zoomInButton.style.fontSize = '20px';

  zoomInButton.appendChild(zoomInIcon);
  /* Change this to be the .png image you want to use */
  // zoomInButton.style.backgroundImage = 'url("http://placehold.it/32/00ff00")';
  controlWrapper.appendChild(zoomInButton);

  // Set CSS for the zoomOut
  var zoomOutButton = document.createElement('div');
  zoomOutButton.style.borderStyle = 'solid';
  zoomOutButton.style.borderColor = 'gray';
  zoomOutButton.style.borderWidth = '1px';

  var zoomOutIcon = document.createElement('i');
  zoomOutIcon.classList.add("fas");
  zoomOutIcon.classList.add("fa-minus");
            
  zoomOutButton.style.width = '40px'; 
  zoomOutButton.style.height = '40px';
  zoomOutButton.style.paddingTop = '7px';
  zoomOutButton.style.fontSize = '20px';

  zoomOutButton.appendChild(zoomOutIcon);
  /* Change this to be the .png image you want to use */
  controlWrapper.appendChild(zoomOutButton);

  // Setup the click event listener - zoomIn
  google.maps.event.addDomListener(zoomInButton, 'click', function() {
  map.setZoom( (map.getZoom() > 16 ? 21 : map.getZoom()+1)  );
  });

  // Setup the click event listener - zoomOut
  google.maps.event.addDomListener(zoomOutButton, 'click', function() {
    map.setZoom( (map.getZoom() > 20 ? 17 : map.getZoom()-1)  );
  });  
              
}



  function initMap() {
    var map = new google.maps.Map(document.getElementById('map'), mapOptions);

    var zoomControlDiv = document.createElement('div');
    var zoomControl = new ZoomControl(zoomControlDiv, map);

    zoomControlDiv.index = 1;
    map.controls[google.maps.ControlPosition.TOP_LEFT].push(zoomControlDiv);
    zoomControlDiv.index = 2;
    map.controls[google.maps.ControlPosition.TOP_RIGHT].push(zoomControlDiv);

    var marker = new google.maps.Marker({ map: map, draggable: true, animation: google.maps.Animation.DROP, position: {lat: -31.8759835, lng: 147.2869493} });
  }

</script>

<div class="responsive-embed">
  <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC4opqgC4fvV3zBm_IhqfHYoC3TH9AvWzs&callback=initMap">
</div>
